<div class="pages-fluid ">
  <ul class="nav nav-pills justify-content-center align-items-center">
    <li class="active"><a href="#">PyDocStyle</a></li>
    <li><a href="#">Flake8</a></li>
    <li><a href="#">MyPy</a></li>
    <li><a href="#">Coverage</a></li>
  </ul>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type of Error</th>
      <th scope="col">Number of line</th>
      <th scope="col">Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>E251</td>
      <td>5</td>
      <td>---------</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>E253</td>
      <td>23</td>
      <td>---------</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>E325</td>
      <td>35</td>
      <td>---------</td>
    </tr>
  </tbody>
</table>
